@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic&family=Teko:wght@700&display=swap");
@font-face {
  font-family: "Untitled Sans Medium";
  src: url("../fonts/Untitled Sans Medium.woff2") format("woff2");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    @세팅구역
*/
body {
  font-size: 14px;
  color: var(--colorBg1);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select,
table,
button,
code {
  font: inherit;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/*
    @세팅구역
*/
body {
  position: relative;
  background-color: #ececec;
  font-family: "Untitled Sans Medium", "Do Hyeon", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--colorBg1);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

.common-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.invert {
  filter: invert(100%);
}

.split {
  position: relative;
}

.left, .right {
  z-index: 2;
}

.origin {
  white-space: nowrap;
  line-height: 1;
  color: rgba(209, 231, 232, 0.5);
  opacity: 0;
}

.top {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 51%;
  color: #ececec;
  text-shadow: 0.075vw -0.015vw 0.4vw rgba(0, 0, 0, 0);
  z-index: 1;
  opacity: 0;
}

.bottom {
  position: absolute;
  left: 0;
  top: 0;
  color: #ececec;
  transform: skew(0) scale(1, 1);
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
  text-shadow: 0.075vw -0.015vw 0.4vw rgba(0, 0, 0, 0);
  transition: color 0.1s ease-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  opacity: 0;
}

footer {
  position: fixed;
  bottom: 0;
  right: 6vw;
  width: 28vw;
  height: 15vw;
}

.loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Teko", sans-serif;
  font-size: 10vw;
  color: #ececec;
  background-color: #ececec;
  z-index: 100;
}
.loading .text-box {
  display: flex;
  flex-direction: column;
}
.loading .text-box .text {
  display: flex;
  gap: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(10deg) rotate(-5deg);
}
.loading .text-box .text.text1 {
  z-index: 2;
}
.loading .text-box .text.text2 {
  z-index: 1;
}
.loading .split-logo {
  position: relative;
}
.loading.done {
  display: none;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 6vw;
  overflow: hidden;
}

.sc-logo {
  width: 28vw;
  padding-right: 6vw;
  font-family: "Teko", sans-serif;
  font-size: 10vw;
}
.sc-logo .logo {
  transform: translate(0.1vw, -2.7vw) skew(10deg) rotate(-5deg);
}
.sc-logo .logo .logo-origin {
  text-shadow: 1px 4px 0.4vw #ececec, 0 0 0 #2C3333, 1px 4px 0.4vw #ececec;
  white-space: nowrap;
  line-height: 1;
  color: rgba(209, 231, 232, 0.5);
}
.sc-logo .logo .logo-top {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  color: #395B64;
  text-shadow: 0.075vw -0.015vw 0.4vw rgba(0, 0, 0, 0.2);
  height: 50%;
  transform: translate(1vw, -9%) skew(-13deg) scale(1, 1.2);
  z-index: 1;
}
.sc-logo .logo .logo-bottom {
  position: absolute;
  left: 0;
  top: 0;
  color: #A5C9CA;
  transform: skew(13deg) scale(1, 0.8);
  text-shadow: rgba(0, 0, 0, 0.3) 0.075vw -0.015vw 0.4vw;
  -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
  transition: color 0.1s ease-out;
}

.sc-work {
  display: flex;
  gap: 3vw;
  align-items: center;
}

.work-img {
  position: relative;
  width: 23vw;
  height: 34vw;
  z-index: 10;
}

.work-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 3vw;
}

.bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.work-bg {
  width: 100%;
  height: 100%;
  background-color: #F2DF3A;
}

.bg-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
}

.work-contentWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.work-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-10deg) scaleY(0);
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  z-index: 1;
}
.work-content.active {
  z-index: 2;
  opacity: 1;
}

.work-logo {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  opacity: 0;
}
.work-logo .link-site {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  height: 100%;
}
.work-logo .link-site.active {
  display: block;
}
.work-logo .img-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(0.7);
  -o-object-fit: contain;
     object-fit: contain;
}

.selec-wrap {
  position: absolute;
  bottom: 5vw;
  right: 0;
  left: 0;
  height: 1.1vw;
  text-align: center;
  overflow: hidden;
  opacity: 0;
}

.selec-text {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.1vw;
  line-height: 1.1vw;
  color: rgba(0, 0, 0, 0.45);
  -webkit-animation: select 6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: select 6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}
.selec-text::before {
  content: "Scroll to see";
  display: block;
  position: absolute;
  bottom: -40px;
  right: 0;
  left: 0;
  -webkit-animation: select-before 6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
          animation: select-before 6s cubic-bezier(0.77, 0, 0.175, 1) infinite;
}

@-webkit-keyframes select {
  0%, 70% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}

@keyframes select {
  0%, 70% {
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
  }
}
@-webkit-keyframes select-before {
  0%, 70% {
    transform: rotate(30deg) skewX(30deg);
  }
  to {
    transform: rotate(0) skewX(0);
  }
}
@keyframes select-before {
  0%, 70% {
    transform: rotate(30deg) skewX(30deg);
  }
  to {
    transform: rotate(0) skewX(0);
  }
}
.work-text {
  width: 28vw;
  padding: 5vw 0 10vw;
  text-align: right;
}
.work-text .work-num {
  display: flex;
  justify-content: end;
  font-size: 10px;
  line-height: 10px;
  opacity: 0;
}
.work-text .curr-num {
  display: flex;
  align-items: center;
  height: 10px;
  overflow: hidden;
}
.work-text .curr-num span {
  margin-right: 6px;
}
.work-text .num-box em {
  display: block;
}
.work-text .total-num {
  opacity: 0.25;
}
.work-text .total-num::before {
  content: "";
  width: 22px;
  height: 1px;
  display: inline-block;
  background-color: #000;
  margin: 0 5px;
}
.work-text .work-item {
  display: none;
}
.work-text .work-item.active {
  display: block;
}
.work-text .title-box {
  display: block;
  height: 10.2vw;
  font-size: 3vw;
  line-height: 10.2vw;
  letter-spacing: -1px;
}
.work-text .work-title {
  display: inline-block;
  line-height: 1;
  opacity: 0;
}
.work-text .detail-wrap {
  display: block;
}
.work-text .detail {
  position: relative;
  display: inline-block;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 11px;
  letter-spacing: 0.5px;
  color: #6b6b6b;
}
.work-text .detail-cover {
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: #ececec;
}
.work-text .desc + .desc::before {
  content: " ・ ";
}
.work-text .link-work {
  display: block;
}
.work-text .link-work:hover .link-detail::after {
  width: 100%;
}
.work-text .link-detail {
  position: relative;
  display: inline-block;
  margin: 30px 0 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.59);
  opacity: 0;
}
.work-text .link-detail::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.59);
  transition: width 0.5s;
}

.pagination {
  position: absolute;
  bottom: 3vw;
  left: 50%;
  transform: translateX(-50%);
}
.pagination .page-list.active .overlay {
  transform: rotateY(-95deg) skew(0, -10deg);
}
.pagination .page-list.active .shadow {
  width: 0;
}
.pagination .page-wrap {
  display: flex;
  gap: 5vw;
}
.pagination .link-page {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.pagination .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
}
.pagination .cover .bg {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-shadow: 1px 4px 0.4vw #ececec, 0 0 0 #2C3333, 1px 4px 0.4vw #ececec;
}
.pagination .cover .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(5px);
  background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.4) 30%, transparent);
  transform: translateX(0.6em);
  border-radius: 50%;
  transition: 0.5s;
}
.pagination .cover .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ececec;
  transform: rotateY(-30deg) skew(0, -10deg);
  transform-origin: left;
  border-radius: 50%;
  transition: 0.5s;
}
.pagination img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  filter: invert(100);
}

@media (max-width: 750px) {
  .inner {
    position: relative;
    display: block;
    padding: 0 3vw;
  }
  .sc-logo {
    font-size: 80px;
  }
  .sc-logo .logo {
    transform: translate(-5vw, -2.7vw) skew(10deg) rotate(-5deg) scale(0.6);
  }
  .sc-work {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .work-inner {
    padding: 6vw;
  }
  .work-img {
    width: 300px;
    height: 430px;
  }
  .work-text {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .work-text .work-num {
    display: none;
  }
  .work-text .title-box {
    padding-top: 35px;
    font-size: 25px;
  }
  .work-text .detail-wrap {
    display: none;
  }
  .work-text .link-detail {
    display: none;
  }
}