

/*
    @세팅구역
*/
body {
    position: relative;
    background-color: #ececec;
    font-family: 'Untitled Sans Medium', 'Do Hyeon', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}


.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
}

.common-inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
}


.invert {
    filter: invert(100%);
}

.split {
    position: relative;
}
.left, .right {
    z-index: 2;
}
.origin {
    white-space: nowrap;
    line-height: 1;
    color: rgba(rgb(209, 231, 232), .5);
    opacity: 0;
    // text-shadow: 1px 4px .4vw #ececec, 0 0 0 #3e3e3f, 1px 4px .4vw #ececec;
}
.top {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 51%;
    color: #ececec;
    text-shadow: .075vw -.015vw .4vw rgba(0,0,0,0);
    z-index: 1;
    opacity: 0;
    // transition: all .5s ease-out;
}
.bottom {
    position: absolute;
    left: 0;
    top: 0;
    color: #ececec;
    transform: skew(0) scale(1, 1);
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    text-shadow: .075vw -.015vw .4vw rgba(0,0,0,0);
    transition: color .1s ease-out;
    backface-visibility: hidden;
    opacity: 0;
}